<br/>

<div class="col-sm-8 blog-main">
    <div class="blog-post">
        <h3>Arabic Henna Design</h3>
        <p>
            One Hand Front and Back - $10
            <br/>
            Both Hands Front and Back - $15
        </p>
        <h3>Indo-Arabic Henna Design</h3>
        <p>
            One Hand Front and Back - $15
            <br/>
            Both Hands Front and Back - $25
        </p>
        <h3>Indian Style Henna Design</h3>
        <p>
            One Hand Front and Back - $20
            <br/>
            Both Hands Front and Back - $35
        </p>
        <h3>Bridal Henna Design</h3>
        <p>
            One Hand Front and Back - $50
            <br/>
            Both Hands Front and Back - $25
        </p>
        <h3>Classes for learning Mehendi</h3>
        <p>
            Smaller Batches (not more than 4 people) - $20/hr
        </p>
    </div>
</div>